#!/usr/bin/make -f

export DH_VERBOSE = 1
export V = 1
export VERBOSE = 1

%:
	dh $@ --with autoreconf

override_dh_auto_clean:
	[ ! -f Makefile ] || $(MAKE) distclean
	dh_auto_clean

override_dh_update_autotools_config:
	apt-get -y update
	apt-get install -y m4 perl texinfo ca-certificates curl
	update-ca-certificates
	curl -L -o autoconf-2.71.tar.gz https://ftp.gnu.org/gnu/autoconf/autoconf-2.71.tar.gz
	tar xf autoconf-2.71.tar.gz
	cd autoconf-2.71 && ./configure --prefix=/usr && make && make install
	dh_update_autotools_config

override_dh_auto_configure:
	./configure --prefix=/usr \
		CFLAGS="$(CFLAGS) -v -D_XOPEN_SOURCE_EXTENDED -std=c11 -I/usr/include/ncursesw" \
		--enable-widec \
		LIBS="-lncursesw" \
		CPPFLAGS="-I/usr/include/ncursesw" \
		PKG_CONFIG_PATH="/usr/lib/pkgconfig" \
		V=1 \
		--enable-dependency-tracking

override_dh_auto_build:
	apt-get -y update
	apt-get install -y libnl-3-dev libnl-genl-3-dev libnl-cli-3-dev libncurses5-dev libncursesw5-dev libcap-dev pkg-config
	mkdir -p /usr/include/netlink || exit 1
	$(MAKE) VERBOSE=1 V=1
