Source: hostapd
Section: net
Priority: optional
Maintainer: Josh Schmelzle <josh@joshschmelzle.com>
Build-Depends: debhelper-compat (= 12),
 libdbus-1-dev,
 libssl-dev,
 libnl-3-dev,
 libnl-genl-3-dev,
 libnl-route-3-dev,
 libreadline-dev,
 libpcsc-lite-dev [!armhf !arm64] | libpcsclite-dev
 pkg-config,
Standards-Version: 4.5.0
Homepage: https://w1.fi/wpa_supplicant/

Package: hostapd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: IEEE 802.11 AP and IEEE 802.1X/WPA/WPA2/WPA3/EAP Authenticator
