#!/usr/bin/make -f

export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

PACKAGE_NAME=wlanpi-linux-firmware
DEB_PATH=debian/$(PACKAGE_NAME)

%:
	dh $@ --with quilt

override_dh_auto_install:
	mkdir -p \
		$(DEB_PATH)/lib/firmware/intel \
		$(DEB_PATH)/etc/modprobe.d
	cp iwlwifi* $(DEB_PATH)/lib/firmware/
	cp intel/ibt* $(DEB_PATH)/lib/firmware/intel/
	install -o root -g root -m 644 debian/iwlwifi.conf $(DEB_PATH)/etc/modprobe.d/
	dh_auto_install
