Source: wpasupplicant
Section: net
Priority: optional
Maintainer: Josh Schmelzle <josh@joshschmelzle.com>
Build-Depends: debhelper-compat (= 12),
 libdbus-1-dev,
 libssl-dev,
 libnl-3-dev,
 libnl-genl-3-dev,
 pkg-config,
 libnl-route-3-dev,
 libpcsc-lite-dev [!armhf !arm64] | libpcsclite-dev
Standards-Version: 4.5.0
Homepage: https://w1.fi/wpa_supplicant/

Package: wpasupplicant
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: WPA supplicant for secure wireless networks
 wpa_supplicant is a WPA Supplicant with support for WPA, WPA2, and WPA3 (IEEE 802.11i).