#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_configure:
	cp defconfig wpa_supplicant/.config
	cd wpa_supplicant && $(MAKE)

override_dh_auto_install:
	cd wpa_supplicant && $(MAKE) install DESTDIR=$(CURDIR)/debian/wpa-supplicant
